<div class="barra-busca">
  <input
    type="text"
    placeholder="Buscar por titulo ou assunto..."
    [value]="termoBusca()"
    (input)="termoBusca.set($any($event.target).value)"
    (keyup.enter)="buscar()"
  />
  <button (click)="buscar()">Buscar</button>
</div>

<div class="filtros-categoria">
  <button (click)="carregarBestSellers()" style="border-color: #00E676; color: #00E676;">🏆 Best Sellers NYT</button>
  <button (click)="filtrarPorCategoria('fantasy')">Fantasia</button>
  <button (click)="filtrarPorCategoria('romance')">Romance</button>
  <button (click)="filtrarPorCategoria('fiction')">Ficcao</button>
  <button (click)="filtrarPorCategoria('mystery')">Misterio</button>
</div>

@if (livroService.carregando()) {
  <p class="mensagem-status">Carregando livros...</p>
}

@if (livroService.erro()) {
  <p class="mensagem-status erro">{{ livroService.erro() }}</p>
}

@if (!livroService.carregando() && !livroService.erro()) {
  
  <h2 class="titulo-secao">
    {{ livroService.tituloSecao() }}
  </h2>

  <div class="lista-livros-container">
    @for (livro of livroService.livros(); track livro.id) {
      <div class="livro-card card-livro">

        <button
          class="btn-favorito"
          [class.ativo]="favoritosService.ehFavorito(livro.id)"
          (click)="alternarFavorito(livro)"
        >
          {{ favoritosService.ehFavorito(livro.id) ? '💚' : '🤍' }}
        </button>

        <img [src]="livro.capa" [alt]="livro.titulo" [routerLink]="['/livro', livro.id]" style="cursor: pointer;" />
        
        <h3>{{ livro.titulo }}</h3>
        <p class="autor">{{ livro.autor }}</p>
        
        <p class="sinopse-livro">
          {{ livro.sinopse | slice:0:100 }}...
        </p>

        @if (livro.emPromocao) {
          <span class="badge-promocao">🔥 -20%</span>
        }
        <p class="preco preco-destaque">
          @if (livro.emPromocao) {
            <span class="preco-riscado">R$ {{ livro.precoOriginal }}</span>
          }
          R$ {{ livro.preco }}
        </p>
        <button class="btn-comprar" (click)="adicionarNoCarrinho(livro)">Adicionar ao carrinho</button>
      </div>
    }

    @if (livroService.livros().length === 0) {
      <p class="mensagem-status">Nenhum livro encontrado.</p>
    }
  </div>
}