<header class="navbar">
    <div class="logo">
        <a routerLink="/">yomeru</a>
    </div>
    <nav class="nav-links">
        <a routerLink="/catalogo">Catálogo</a>
        <a routerLink="/sobre">Sobre</a>

        @if (usuarioLogado()) {
            <a routerLink="/favoritos" class="btn-favoritos">
                Favoritos
                @if (quantidadeFavoritos() > 0)
                {
                    <span class="badge">{{ quantidadeFavoritos() }}</span>
                }
            </a>
        }

        <a routerLink="/carrinho" class="btn-carrinho">
            Carrinho
            @if (quantidadedeItens() > 0)
            {
                <span class="badge">{{ quantidadedeItens() }}</span>
            }
        </a>

        @if (usuarioLogado(); as usuario) {
            <a routerLink="/perfil" class="usuario-nome">Olá, {{ usuario.nome }}</a>
            <a (click)="sair()" class="btn-sair">Sair</a>
        } @else {
            <a routerLink="/login" class="btn-entrar">Entrar</a>
        }
    </nav>
</header>